@font-face {
    font-family: 'Jameel Noori Nastaleeq';
    src: url('./assets/fonts/JameelNooriNastaleeqKasheeda.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }